<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Doc Builder is the perfect choice to build your official documents in single click.">
    <meta name="author" content="Kundan, Anupam, Ajay, Vipin">
    <meta property="og:title" content="Docs Builder">
    <meta property="og:description" content="Convenient and predesigned document templates with change tracking capability
  ">
    <meta property="og:image" content="https://docsbuilder.herokuapp.com/img/bg-masthead.jpg">
    <meta property="og:url" content="https://docsbuilder.herokuapp.com/">

    <link rel="shortcut icon" type="image/png" href="../img/icon.png">

    <title>Docs Builder</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="/../css/homepage.css" rel="stylesheet">
    <script src="/../js/angular.min.js"></script>
    <script src="/../js/angapp.js"></script>
