

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a style="text-decoration:none;" class="menu-toggle rounded bg-primary" href="#">
      <i class="icon-menu"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="/#page-top">Doc Builder</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/#about">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/#services">Services</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/#sample_templates">Category</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/#contact">Contact</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/#team">Our Team</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/login">Login</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/register">Register</a>
        </li>
      </ul>
    </nav>
