<% include ../../partials/home_header %>
<link rel="stylesheet" href="../../../css/application.css">
<% include ../../partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
<a class="btn btn-primary btn-outline-primary m-3" href="/application/collegerecent">Recent Documents</a>
<div class="container text-center">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">G.B. Pant Engineering College Oficial Leave
            Application</a>
    </div>
    <div class="container application-form">
        <form action="/application/college" method="post">
            <div class="row">
                <div class="col-md-12 office-copy">
                    <div>Office Copy</div>
                </div>
                <div class="col-md-12 form-heading">
                    <div>Govt. of NCT of Delhi</div>
                    <div>G. B. Pant Govt. Engineering College, Okhla Phase III, Delhi – 110020</div>
                    <div>Leave Application Form</div>
                    <br>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">Name:</div>
                        <div class="col-md-10"><input type="text" name="application[name]"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Designation:</div>
                        <div class="col-md-4"><input type="text" name="application[designation]"></div>
                        <div class="col-md-2">Department:</div>
                        <div class="col-md-4"><input type="text" name="application[department]"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Nature of Leave applied for:</div>
                        <div class="col-md-2"><input type="text" name="application[nature_of_leave]"></div>
                        <div class="col-md-1">From:</div>
                        <div class="col-md-1"><input type="text" name="application[from]"></div>
                        <div class="col-md-1">To:</div>
                        <div class="col-md-1"><input type="text" name="application[to]"></div>
                        <div class="col-md-2">No. of Days</div>
                        <div class="col-md-1"><input type="text" name="application[no_of_days]"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Grounds (if Comp. Off) :</div>
                        <div class="col-md-9"><input type="text" name="application[grounds]"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Reason:</div>
                        <div class="col-md-10"><input type="text" name="application[reason]"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Address during Leave (If station leave required) :</div>
                        <div class="col-md-7"><input type="text" name="application[address_during_leave]"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Signature of Applicant with Date:</div>
                        <div class="col-md-8">.....................................................</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Forwarding Authority / HOD:</div>
                        <div class="col-md-8">.....................................................</div>
                    </div>
                    <br>
                    <br>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 office-copy">
                    (Bioimetric Incharge Copy)
                </div>
                <div class="col-md-12 form-heading">
                    <div>Govt. of NCT of Delhi</div>
                    <div>G. B. Pant Govt. Engineering College, Okhla Phase III, Delhi – 110020</div>
                    <div>Leave Application Form</div>
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">Name:</div>
                        <div class="col-md-10"><input type="text" name="application[biometric_name]"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Biometric ID:</div>
                        <div class="col-md-4"><input type="text" name="application[biometric_id]"></div>
                        <div class="col-md-2">Dept.:</div>
                        <div class="col-md-4"><input type="text" name="application[biometric_department]"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Nature of Leave applied for:</div>
                        <div class="col-md-2"><input type="text" name="application[biometric_nature_of_leave]"></div>
                        <div class="col-md-1">From:</div>
                        <div class="col-md-1"><input type="text" name="application[biometric_from]"></div>
                        <div class="col-md-1">To:</div>
                        <div class="col-md-1"><input type="text" name="application[biometric_to]"></div>
                        <div class="col-md-2">No. of Days:</div>
                        <div class="col-md-1"><input type="text" name="application[biometric_no_of_days]"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Signature of Applicant with Date:</div>
                        <div class="col-md-8">.....................................................</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Forwarding Authority / HOD:</div>
                        <div class="col-md-8">.....................................................</div>
                    </div>

                    <br>
                    <br>
                    <br>


                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <button class="btn btn-success">
                        Save & Download
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../../partials/footer_script %>

</body>
</html>
