<% include partials/home_header %>
<% include partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
<!-- <a class="btn btn-primary btn-outline-primary m-3" href="/application/recentdoc">Recent Applications</a> -->
<div class="container text-center">
    <div class="h2 text-center mb-5">Application Types</div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="/application">
                    <div class="card">
                        <img style="max-height: 12em;" class="card-img-top" src="img/sick_leave.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text">Application for Sick Leave in School.</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Sick Leave</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="application_3">
                    <div class="card">
                        <img style="max-height: 12em;" class="card-img-top" src="img/application2.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text">Paternity Leave Application</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Paternity Leave</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="/application_2">
                    <div class="card">
                        <img style="max-height: 12em;" class="card-img-top" src="img/general_leave.jpg"
                             alt="Maternity Leave">
                        <div class="card-body">
                            <p class="card-text">Maternity Leave Application</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Maternity Leave</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="/application/college">
                    <div class="card">
                        <img style="max-height: 12em;" class="card-img-top" src="img/application_form.jpg"
                             alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text">College Specific</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">College Specific</div>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>


<% include partials/footer_script %>
</body>
</html>
