<% include partials/home_header %>
  <% include partials/home_navbar %>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container-fluid">
          <h1 class="jumbotron-heading">Docs Builder</h1>
          <p class="lead text-muted">A web-based application to create legal and official documents based on predesigned templates. The convenience provided is unprecedented as the users will have the ability to create a well formatted document just by filling in a few minor and essential details. The application will boast of features like version control to track changes made to the document and revert back to an older version if needed.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Coming Soon..</a>
            <a href="#" class="btn btn-secondary my-2">Coming Soon..</a>
          </p>
          
        </div>
      </section>
      <div class="album py-5 bg-light">
            <div class="container">
              <div class="h2 text-center mb-5">Document Type</div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Application Formats</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="/application">Use</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Letter Formats</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="/#">Use</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Other Documents</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="/#">Use</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="h2 text-center mb-5">My Recent Documents</div>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Application to Principal in school for holiday.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/recentdoc">View</a>
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/application">Use</a>
                    </div>
                    <small class="text-muted">9 times opened</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Letter Template.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/recentletter">View</a>
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/letter">Use</a>
                    </div>
                    <small class="text-muted">9 times opened</small>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>



    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
  </body>
</html>
