<% include partials/home_header %>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.mobile.min.css" />
<!-- <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common.min.css"> -->
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.blueopal.min.css" />

    <script src="http://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
    <script>
        if (typeof jQuery == "undefined") {
            // fallback to local jQuery
            document.write(decodeURIComponent('%3Cscript src="/path/to/local/jquery.min.js" %3E%3C/script%3E'));
        }
    </script>

    <script src="http://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
    
<% include partials/home_navbar %>

<main role="main">

    <div class="album py-5 bg-light">
        <div class="container text-center">

            <div class="h2 text-center mb-5">Document Type</div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="dbAnchor">
                        <a href="/applicationTypes">
                            <div class="card">
                                <img style="max-height: 14em;" class="card-img-top" src="img/application.jpg"
                                     alt="Application Image">
                                <div class="card-body">
                                    <p class="card-text">Application Templates</p>
                                </div>
                            </div>
                            <div class="overLay">
                                <div class="text">Application</div>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Application Formats</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="/applicationTypes">Use</a>
                          </div>
                        </div>
                      </div>
                    </div> -->
                </div>

                <div class="col-md-4 mb-4">
                    <div class="dbAnchor">
                        <a href="/letterTypes">
                            <div class="card">
                                <img style="max-height: 13.5em;" class="card-img-top" src="img/portfolio-3.jpg"
                                     alt="Letter Image">
                                <div class="card-body">
                                    <p class="card-text">Letter Templates</p>
                                </div>
                            </div>
                            <div class="overLay">
                                <div class="text">Letter</div>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Letter Formats</p>
                          <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="/letterTypes">Use</a>
                          </div>
                        </div>
                      </div>
                    </div> -->
                </div>
                <div class="col-md-4 mb-4">
                    <div class="dbAnchor">
                        <a href="/otherFormats">
                            <div class="card">
                                <img style="max-height: 13.5em;" class="card-img-top" src="img/other_documents.jpg"
                                     alt="Other Docs Image">
                                <div class="card-body">
                                    <p class="card-text">Other Formats</p>
                                </div>
                            </div>
                            <div class="overLay">
                                <div class="text">Other Formats</div>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Other Documents</p>
                          <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="/#">Use</a>
                          </div>
                        </div>
                      </div>
                    </div> -->
                </div>


            </div>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="h2 text-center mb-5">My Recent Documents</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img style="max-height: 14em;" class="card-img-top" src="img/sick_leave.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Application for Sick Leave in School</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="/application/recentdoc">View</a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="/application">Use</a>
                                </div>
                                <small class="text-muted"><%= DocsUser.application_t1_t1.length %> applications</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img style="max-height: 13.5rem;" class="card-img-top" src="img/letter2.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Letter Template.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="/letter/recentletter">View</a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/letter">Use</a>
                                </div>
                                <small class="text-muted"><%= DocsUser.letter_t1_t1.length %> letters</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="h2 text-center mb-5">Application Data</div>
            <div id="grid"></div>
        </div>
    </div>
    <div class="album py-5 bg-light">
            <div class="container">
                <div class="h2 text-center mb-5">Letter Data</div>
                <div id="lettergrid"></div>
            </div>
        </div>
    <span id='variableJSON' hidden>
        <%= JSON.stringify(userApplication); %>
    </span>
    <span id='lettervariableJSON' hidden>
        <%= JSON.stringify(userLetter); %>
    </span>


</main>

<footer class="text-muted">
    <div class="container">
        <button onclick="topFunction()" id="goTop">Top</button>

    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>



<script>

    window.onscroll = function () {
        scrollFunction();
    };
    window.onload = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            document.getElementById("goTop").style.display = "block";
        } else {
            document.getElementById("goTop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script>
    var data = JSON.parse($('#variableJSON').text());
    $('#variableJSON').remove();
    $(document).ready(function() {
        $("#grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            Name: { type: "string" },
                            address: { type: "string" },
                            date: { type: "string" },
                            school: { type: "string" },
                            reason: { type: "string" },
                            no_of_days: { type: "string" },
                            committed: { type: "string"}
                        }
                    }
                },
                pageSize: 5
            },
            tooltip: true,
            scrollable: true,
            sortable: true,
            filterable: true,
            tooltip: true,
            reorderable: true,
            resizable: true,
            pageable: {
                input: true,
                numeric: false,
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            // editable: "incell",
            columns: [
                { field: "name", title: "Name"},
                { field: "address", title: "Address" },
                { field: "date", title: "Date" },
                { field: "school", title: "School" },
                { field: "reason", title: "Reason"},
                { field: "no_of_days", title: "No of Days"},
                { field: "committed", title: "Committed"}
            ]
        });
    });

    var letterdata = JSON.parse($('#lettervariableJSON').text());
    $('#lettervariableJSON').remove();
    $(document).ready(function() {
        $("#lettergrid").kendoGrid({
            dataSource: {
                data: letterdata,
                schema: {
                    model: {
                        fields: {
                            name: { type: "string" },
                            address: { type: "string"},
                            date: { type: "string" },
                            designation: { type: "string" },
                            supervisor_first_name: { type: "string" },
                            supervisor_last_name: { type: "string" },
                            supervisor_designation: { type: "string" },
                            company_name: { type: "string"},
                            company_address: { type: "string"},
                            start_date: { type: "string" },
                            end_date: { type: "string" }
                        }
                    }
                },
                pageSize: 5
            },
            tooltip: true,
            scrollable: true,
            sortable: true,
            filterable: true,
            tooltip: true,
            reorderable: true,
            resizable: true,
            pageable: {
                input: true,
                numeric: false,
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
                { field: "name", title: "Name"},
                { field: "address", title: "Address", hidden: "true"},
                { field: "date", title: "Date" },
                { field: "designation", title: "Designation", hidden: "true" },
                { field: "supervisor_first_name", title: "Supervisor First Name", hidden: "true" },
                { field: "supervisor_last_name", title: "Supervisor Last Name", hidden: "true" },
                { field: "supervisor_designation", title: "Supervisor Designation", hidden: "true" },
                { field: "company_name", title: "Company name" },
                { field: "company_address", title: "Company_Address", hidden: "true" },
                { field: "start_date", title: "Start Date" },
                { field: "end_date", title: "End Date" }
            ]
        });
    });
    
</script>
</body>
</html>
