<% include partials/home_header %>
  <% include partials/home_navbar %>

    <main role="main">

      <div class="album py-5 bg-light">
            <div class="container">
              <div class="h2 text-center mb-5">Document Type</div>
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="dbAnchor">
                    <a href="/applicationTypes">
                      <div class="card">
                        <img class="card-img-top" src="img/portfolio-3.jpg" alt="Application Image">
                        <div class="card-body">
                          <p class="card-text">Application Templates</p>
                        </div>
                      </div>
                      <div class="overLay">
                        <div class="text">Application</div>
                      </div>
                    </a>
                  </div>
                  <!-- <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Application Formats</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="/applicationTypes">Use</a>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
                
                <div class="col-md-4 mb-4">
                  <div class="dbAnchor">
                    <a href="/letterTypes">
                      <div class="card">
                        <img class="card-img-top" src="img/portfolio-3.jpg" alt="Letter Image">
                        <div class="card-body">
                          <p class="card-text">Letter Templates</p>
                        </div>
                      </div>
                      <div class="overLay">
                        <div class="text">Letter</div>
                      </div>
                    </a>
                  </div>
                  <!-- <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Letter Formats</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="/letterTypes">Use</a>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="col-md-4 mb-4">
                  <div class="dbAnchor">
                    <a href="#">
                      <div class="card">
                        <img class="card-img-top" src="img/portfolio-3.jpg" alt="Other Docs Image">
                        <div class="card-body">
                          <p class="card-text">Other Formats</p>
                        </div>
                      </div>
                      <div class="overLay">
                        <div class="text">Comming Soon!</div>
                      </div>
                    </a>
                  </div>
                  <!-- <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Other Documents</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="/#">Use</a>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
                
                
              </div>
            </div>
          </div>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="h2 text-center mb-5">My Recent Documents</div>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Application to Principal for leave.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/recentdoc">View</a>
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/application">Use</a>
                    </div>
                    <small class="text-muted">9 times opened</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="img/portfolio-3.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Letter Template.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/recentletter">View</a>
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/letter">Use</a>
                    </div>
                    <small class="text-muted">9 times opened</small>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>



    </main>

    <footer class="text-muted">
      <div class="container">
        <button onclick="topFunction()" id="goTop">Top</button>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>





    <script>
      
      window.onscroll = function() {
        scrollFunction();
      };
      window.onload = function() {
        scrollFunction();
      };
      function scrollFunction() {
        if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            document.getElementById("goTop").style.display = "block";
        } else {
            document.getElementById("goTop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
  </body>
</html>
