<% include partials/header %>
    <% include partials/navbar %>
    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Doc Builder</h1>
        <h3 class="mb-5">
          <em>Convenient and predesigned document templates with change tracking capability</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#">Get Started</a>
        <div style="position:absolute; bottom:10px; left: 50%; transform: translate(-50%,0); ">
        	<a class="btn btn-primary btn-outline-dark btn-lg js-scroll-trigger rounded-circle" href="#about"><i class="icon-arrow-down"></i></a>
        </div>
      </div>
      
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Doc Builder is the perfect choice to build your official documents in single click.</h2>
            <p class="lead mb-5">A web-based application to create legal and official documents based on predesigned templates. The convenience provided is unprecedented as the users will have the ability to create a well formatted document just by filling in a few minor and essential details. The application will boast of features like version control to track changes made to the document and revert back to an older version if needed.</p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
            
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-docs"></i>
            </span>
            <h4>
              <strong>Application</strong>
              <br>
              <strong>Templates</strong>
            </h4>
            <p class="text-faded mb-0">for School, College, Boss...</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-envelope-letter"></i>
            </span>
            <h4>
              <strong>Letter</strong>
              <br>
              <strong>Templates</strong>
            </h4>
            <p class="text-faded mb-0">Formal letter or Informal letter...</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-like"></i>
            </span>
            <h4>
              <strong>Agreement</strong>
              <br>
              <strong>Templates</strong>
            </h4>
            <p class="text-faded mb-0">Rent Agreement, Registeration...</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-event"></i>
            </span>
            <h4>
              <strong>Other</strong>
              <br>
              <strong>Templates</strong>
            </h4>
            <p class="text-faded mb-0">Any other Official Paper...</p>
          </div>
          <div class="mt-5 mx-auto">
          	<a class="btn btn-secondary btn-xl js-scroll-trigger" href="#sample_templates">Sample Templates</a>
          </div>
          
        </div>
      </div>
    </section>

    <!-- Callout -->
<!--    <section class="callout">-->
<!--      <div class="container text-center">-->
<!--        <h2 class="mx-auto mb-5">Welcome to-->
<!--          <em>your</em>-->
<!--          next website!</h2>-->
<!--      </div>-->
<!--    </section>-->

    <!-- Portfolio -->
    <section class="content-section" id="sample_templates">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Category</h3>
          <h2 class="mb-5">Templates Section</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Application Section</h2>
                  <p class="mb-0">for School, College, Boss...</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Letter Section</h2>
                  <p class="mb-0">Formal letter or Informal letter...</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Agreement Section</h2>
                  <p class="mb-0">Rent Agreement, Registeration...</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Other Section</h2>
                  <p class="mb-0">Any other Official Paper...</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
    
    
    

    <!-- Call to Action -->
<!--    <section class="content-section bg-primary text-white">-->
<!--      <div class="container text-center">-->
<!--        <h2 class="mb-4">The buttons below are impossible to resist...</h2>-->
<!--        <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>-->
<!--        <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>-->
<!--      </div>-->
<!--    </section>-->


    <!-- Contact -->
    <section class="content-section bg-primary" id="contact">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>More Than Just A Website</h2>
            <p class="lead mb-5">Coming Soon.....</p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#team">Our Amazing Team</a>
          </div>
        </div>
      </div>
    </section>
    
    <section class="content-section" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Nobody can do everything, but everyone can do something.</h3>
          </div>
        </div>
        <div class="row">
        	<div class="col-sm-4 mx-auto">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="http://www.gbpec.edu.in/assets/images/Faculty_Profile/CSE/ManjeetPangtey_CSE.jpg" alt="">
              <h4>Mr. Manjeet Singh Pangtey</h4>
              <p class="text-muted">Mentor</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://scontent.fdel5-1.fna.fbcdn.net/v/t1.0-9/12963743_1023296244404191_8073135011680593886_n.jpg?_nc_cat=0&oh=38bf88077bcb06ff81d56af10435c10c&oe=5C3971AA" alt="">
              <h4>Anupam Kumar</h4>
              <p class="text-muted">Full Stack Developer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C5103AQG-YOUlY40aWg/profile-displayphoto-shrink_200_200/0?e=1540425600&v=beta&t=9dNiSG2_qPAQ4AgCjyaWjkNca5jsmTdyMnnMpxRwLHk" alt="">
              <h4>Kundan</h4>
              <p class="text-muted">Student</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://scontent.fdel5-1.fna.fbcdn.net/v/t1.0-9/604086_338076333028851_7067842907870653346_n.jpg?_nc_cat=0&oh=148759132cc45f2db15ee3b409940345&oe=5C3AFCC4" alt="">
              <h4>Ajay Nath</h4>
              <p class="text-muted">Student</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="https://picsum.photos/458/354?image=0" alt="">
              <h4>Vipin Tiwari</h4>
              <p class="text-muted">Developer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>
    
    <!-- Footer -->
    <footer class="footer text-center bg-primary text-white">
      <div class="container">
        <p class="text-white	 small mb-0">Copyright &copy; Doc Builder 2018</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a style="text-decoration:none;" class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.js"></script>
<% include partials/footer %>
   
