<% include partials/home_header %>
<% include partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
<a class="btn btn-primary btn-outline-primary m-3" href="/letter/recentletter">Recent Letters</a>
<div class="container">
    <div class="row m-4">
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="/letter">
                    <div class="card">
                        <img class="card-img-top" src="img/letter2.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Letter type 1</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Letter</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="img/resume.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Letter type 2</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="img/portfolio-2.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Letter type 3</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Letter type 4</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Letter type 5</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Letter type 6</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer_script %>

</body>
</html>
