<% include partials/home_header %>
<% include partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
<!-- <a class="btn btn-primary btn-outline-primary m-3" href="/letter/recentletter">Recent Letters</a>
<a class="btn btn-primary btn-outline-primary m-3" href="/letter/recentletter_2">Recent Reference Letters</a>
<a class="btn btn-primary btn-outline-primary m-3" href="/letter/recentletter_3">Recent Offer Letters</a> -->
<div class="container">
    <div class="row m-4">
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="/letter">
                    <div class="card">
                        <img class="card-img-top" src="img/letter2.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Formal Letter</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Letter</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="letter_2">
                    <div class="card">
                        <img class="card-img-top" src="img/resume.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Reference Letter</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Reference Letter</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a href="letter_3">
                    <div class="card">
                        <img class="card-img-top" src="img/portfolio-2.jpg" alt="Sick Leave">
                        <div class="card-body">
                            <p class="card-text text-center">Offer Letter</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Offer Letter</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

<% include partials/footer_script %>

</body>
</html>
