<% include partials/home_header %>
  <% include partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href="/homepage">Back</a>
  <div class="container">
  	<div class="row m-4">
  		<div class="col-md-4 mb-4">
	      <div class="dbAnchor">
	      	<a href="/letter">
		      	<div class="card">
			        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
			        <div class="card-body">
			          <p class="card-text">Letter type 1</p>
			        </div>
			      </div>
			      <div class="overLay">
			      	<div class="text">Letter</div>
			      </div>
		      </a>
	      </div>
	    </div>
	    <div class="col-md-4 mb-4">
	      <div class="dbAnchor">
	      	<a href="#">
		      	<div class="card">
			        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
			        <div class="card-body">
			          <p class="card-text">Letter type 2</p>
			        </div>
			      </div>
			      <div class="overLay">
			      	<div class="text">Letter</div>
			      </div>
		      </a>
	      </div>
	    </div>
	    <div class="col-md-4 mb-4">
	      <div class="dbAnchor">
	      	<a href="#">
		      	<div class="card">
			        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
			        <div class="card-body">
			          <p class="card-text">Letter type 3</p>
			        </div>
			      </div>
			      <div class="overLay">
			      	<div class="text">Letter</div>
			      </div>
		      </a>
	      </div>
	    </div>
  	</div>
  	<div class="row m-4">
  		<div class="col-md-4 mb-4">
	      <div class="dbAnchor">
	      	<a href="#">
		      	<div class="card">
			        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
			        <div class="card-body">
			          <p class="card-text">Letter type 4</p>
			        </div>
			      </div>
			      <div class="overLay">
			      	<div class="text">Letter</div>
			      </div>
		      </a>
	      </div>
	    </div>
	    <div class="col-md-4 mb-4">
	      <div class="dbAnchor">
	      	<a href="#">
		      	<div class="card">
			        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
			        <div class="card-body">
			          <p class="card-text">Letter type 5</p>
			        </div>
			      </div>
			      <div class="overLay">
			      	<div class="text">Letter</div>
			      </div>
		      </a>
	      </div>
	    </div>
	    <div class="col-md-4 mb-4">
	      <div class="dbAnchor">
	      	<a href="#">
		      	<div class="card">
			        <img class="card-img-top" src="img/portfolio-1.jpg" alt="Sick Leave">
			        <div class="card-body">
			          <p class="card-text">Letter type 6</p>
			        </div>
			      </div>
			      <div class="overLay">
			      	<div class="text">Letter</div>
			      </div>
		      </a>
	      </div>
	    </div>
  	</div>
  </div>
























 	<footer class="text-muted">
      <div class="container">
        <button onclick="topFunction()" id="goTop">Top</button>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>





    <script>
      
      window.onscroll = function() {scrollFunction()};
      window.onload = function() {
        scrollFunction()
      };
      function scrollFunction() {
        if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            document.getElementById("goTop").style.display = "block";
        } else {
            document.getElementById("goTop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
  </body>
</html>
