<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<form action="/private" method="POST">
    <input type="text" name="application[name]" placeholder="Name">
    <input type="text" name="application[school]" placeholder="School Name">
    <input type="text" name="application[address]" placeholder="Address">
    <input type="text" name="application[date]" placeholder="Date">
    <input type="text" name="application[reason]" placeholder="Reason for leave">
    <input type="submit" name="" value="Submit">
</form>

<% include partials/footer.ejs %>
