<% include partials/header %>
<% include partials/navbar %>
	<div class="container"> 
		<div class="jumbotron bg-primary">
			<div class="h1 text-center">
				DocsBuilder
			</div>
		</div>
	</div>
	<div class="container">
	  <% if (error && error.length > 0) { %>
		<div class="alert alert-danger" role="alert">
		  <%= error %>
		</div>
	  <% } %>

	  <% if (success && success.length > 0) { %>
		<div class="alert alert-success" role="success">
		  <%= success %>
		</div>
	  <% } %>
	</div>

	<div class="container h-50">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<form action="/reset/<%= token %>" method="POST">
				  <legend>Reset Password</legend>
				  <div class="form-group">
				    <label for="password">New Password</label>
				    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
				  </div>
				  <div class="form-group">
				    <label for="confirm">Confirm Password</label>
				    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
				  </div>
				  <div class="form-group">
				    <button type="submit" class="btn btn-primary">Update Password</button>
				  </div>
				</form>
			</div>
		</div>
	</div>

<!-- Footer -->
	<footer class="footer text-center bg-primary text-white">
	<div class="container">
	<p class="text-white	 small mb-0">Copyright &copy; Doc Builder 2018</p>
	</div>
	</footer>

	<!-- Scroll to Top Button-->
	<a style="text-decoration:none;" class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
	<i class="icon-arrow-up"></i>
	</a>

	<!-- Bootstrap core JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/stylish-portfolio.js"></script>
<% include partials/footer %>
