<% include partials/home_header %>
<link rel="stylesheet" href="/css/resume.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
<% include partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
<!--<a class="btn btn-primary btn-outline-primary m-3" href="/otherFormats/resume">Recent Resumes</a>-->
<hr class="prettyline">

<div class="container text-center">
    <div class="row m-4">
        <div class="col-md-4 mb-4">
            <div class="dbAnchor" data-toggle="modal" data-target="#exampleModal">
                    <% if(user.resume.length > 0) { %>
                        <a href="/otherFormats/resume?rank=1">
                        <% } else { %>
                        <a class="resume-form" href="#animatedModal">
                    <% } %>
                    <div class="card">
                        <img style="max-height: 14em;" class="card-img-top" src="/img/sick_leave.jpg" alt="Resume 1">
                        <div class="card-body">
                            <p class="card-text">Resume 1</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Resume</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                    <% if(user.resume.length > 0) { %>
                        <a href="/otherFormats/resume?rank=2">
                        <% } else { %>
                        <a class="resume-form" href="#animatedModal">
                    <% } %>
                    <div class="card">
                        <img style="max-height: 14em;" class="card-img-top" src="/img/application_form.jpg"
                             alt="Resume 2">
                        <div class="card-body">
                            <p class="card-text">Resume 2</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                    <% if(user.resume.length > 0) { %>
                        <a href="/otherFormats/resume?rank=3">
                        <% } else { %>
                        <a class="resume-form" href="#animatedModal">
                    <% } %>
                    <div class="card">
                        <img style="max-height: 14em;" class="card-img-top" src="/img/general_leave.jpg" alt="Resume 3">
                        <div class="card-body">
                            <p class="card-text">Resume 3</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--Call your modal-->
    <a class="resume-form" href="#animatedModal">Enter Details for Resume</a>
    <!-- Modal Added -->
    <% include partials/resume_modal %>
    <!-- Modal ends -->


</div>
<hr class="prettyline">

<% include partials/footer_script %>

<script>
    $('.btnNext').click(function () {
        $('.nav-pills .active').parent().next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function () {
        $('.nav-pills .active').parent().prev('li').find('a').trigger('click');
    });
</script>

<script>

    // Education field handled
    var count = 1;

    $('#education_field').append(educationNumber('first'));

    $('#education_add').click(function (e) {
        if (count == 0) {
            count++;
            var name = 'first';
            var firstfield = educationNumber(name);
            $('#education_field').append(firstfield);
        } else if (count == 1) {
            count++;
            var name = 'second';
            var secondfield = educationNumber(name);
            $('#education_field').append(secondfield);
        } else if (count == 2) {
            count++;
            var name = 'third';
            var thirdfield = educationNumber(name);
            $('#education_field').append(thirdfield);
        } else if (count == 3) {
            alert("Maximum 3 education field is required.");
        }
    });

    // Remove rows
    $('body').on('click', '#education_remove', function (e) {

        // if(count == 1){
        //     $('div').remove('#first_education');
        //     count--;
        // }else
        if (count == 2) {
            // $(this).parent('#company_two').remove();
            $('div').remove('#second_education');
            count--;
        } else if (count == 3) {
            // $(this).parent('#company_three').remove();
            $('div').remove('#third_education');
            count--;
        } else {
            alert("Minimum one education field is required.");
        }
    });

    function educationNumber(name) {
        return '<div id="' + name + '_education" ><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Degree/Course</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_degree[degree]" id="id_' + name + '_degree" placeholder="Degree name" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Institution</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_degree[institution]" id="id_' + name + '_institution" placeholder="Name of Institution" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Passing Year</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_degree[passingyear]" id="id_' + name + '_passingyear" placeholder="passing year" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Enter Details</span></div><div class="col-md-10"><textarea class="form-control" name="' + name + '_degree[details]" id="id_' + name + '_details" placeholder="e.g. completed with 66% marks" aria-describedby="inputGroupPrepend2" required></textarea></div></div></div></div><hr></div>';
    }

    // Project section handled
    var project_count = 1;

    $('#project_field').append(projectNumber('first'));

    $('#project_add').click(function (e) {
        if (project_count == 0) {
            project_count++;
            var name = 'first';
            var firstfield = projectNumber(name);
            $('#project_field').append(firstfield);
        } else if (project_count == 1) {
            project_count++;
            var name = 'second';
            var secondfield = projectNumber(name);
            $('#project_field').append(secondfield);
        } else if (project_count == 2) {
            alert("Maximum 2 Project field is required.");
        }
    });

    $('body').on('click', '#project_remove', function (e) {

        // if(project_count == 1){
        //     $('div').remove('#first_project');
        //     project_count--;
        // }else
        if (project_count == 2) {
            // $(this).parent('#company_two').remove();
            $('div').remove('#second_project');
            project_count--;
        } else {
            alert("Minimum one Project field is required.");
        }
    });

    function projectNumber(name) {
        return '<div id="' + name + '_project" ><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Title</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_project[title]" id="id_' + name + '_projecttitle" placeholder="Enter Project Title" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Organization</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_project[organization]" id="id_' + name + '_projectorganization" placeholder="Enter Project Organization or Self" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Enter Details</span></div><div class="col-md-10"><textarea class="form-control" name="' + name + '_project[details]" id="id_' + name + '_projectdetails" placeholder="DESCRIBE YOUR PROJECT" aria-describedby="inputGroupPrepend2" required></textarea></div></div></div></div><hr></div>';
    }

    // Experience section handled
    var experience_count = 0;

    $('#experience_add').click(function (e) {
        if (experience_count == 0) {
            experience_count++;
            var name = 'first';
            var firstfield = experienceNumber(name);
            $('#experience_field').append(firstfield);
        } else if (experience_count == 1) {
            experience_count++;
            var name = 'second';
            var secondfield = experienceNumber(name);
            $('#experience_field').append(secondfield);
        } else if (experience_count == 2) {
            alert("Maximum 2 Experience field is required.");
        }
    });

    $('body').on('click', '#experience_remove', function (e) {

        if (experience_count == 1) {
            $('div').remove('#first_experience');
            experience_count--;
        } else if (experience_count == 2) {
            // $(this).parent('#company_two').remove();
            $('div').remove('#second_experience');
            experience_count--;
        } else {
            alert("No field to remove.");
        }
    });

    function experienceNumber(name) {
        return '<div id="' + name + '_experience" ><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Title/Designation</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_experience[title]" id="id_' + name + '_exptitle" placeholder="Enter experience field title" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Organization</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_experience[organization]" id="id_' + name + '_exporganization" placeholder="Enter Organization name" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Enter Details</span></div><div class="col-md-10"><textarea class="form-control" name="' + name + '_experience[details]" id="id_' + name + '_expdetails" placeholder="Describe your experience" aria-describedby="inputGroupPrepend2" required></textarea></div></div></div></div><hr></div>';
    }

    // Skill field handled
    var skill_count = 1;

    $('#skill_field').append(skillNumber('first'));

    $('#skill_add').click(function (e) {
        if (skill_count == 0) {
            skill_count++;
            var name = 'first';
            var firstfield = skillNumber(name);
            $('#skill_field').append(firstfield);
        } else if (skill_count == 1) {
            skill_count++;
            var name = 'second';
            var secondfield = skillNumber(name);
            $('#skill_field').append(secondfield);
        } else if (skill_count == 2) {
            skill_count++;
            var name = 'third';
            var thirdfield = skillNumber(name);
            $('#skill_field').append(thirdfield);
        } else if (skill_count == 3) {
            skill_count++;
            var name = 'fourth';
            var thirdfield = skillNumber(name);
            $('#skill_field').append(thirdfield);
        } else if (skill_count == 4) {
            skill_count++;
            var name = 'fifth';
            var thirdfield = skillNumber(name);
            $('#skill_field').append(thirdfield);
        } else if (skill_count == 5) {
            alert("Maximum 5 skill field is required.");
        }
    });

    // Remove rows
    $('body').on('click', '#skill_remove', function (e) {

        // if(skill_count == 1){
        //     $('div').remove('#first_skill');
        //     skill_count--;
        // }else
        if (skill_count == 2) {
            // $(this).parent('#company_two').remove();
            $('div').remove('#second_skill');
            skill_count--;
        } else if (skill_count == 3) {
            // $(this).parent('#company_three').remove();
            $('div').remove('#third_skill');
            skill_count--;
        } else if (skill_count == 4) {
            // $(this).parent('#company_three').remove();
            $('div').remove('#fourth_skill');
            skill_count--;
        } else if (skill_count == 5) {
            // $(this).parent('#company_three').remove();
            $('div').remove('#fifth_skill');
            skill_count--;
        } else {
            alert("Minimum one skill field is required.");
        }
    });

    function skillNumber(name) {
        return '<div id="' + name + '_skill" ><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Skill</span></div><div class="col-md-10"><input type="text" class="form-control" name="skill[]" id="id_' + name + '_skill" placeholder="Enter your skill" aria-describedby="inputGroupPrepend2" required></div></div></div></div><hr></div>';
    }
</script>
</body>
</html>
