<% include partials/home_header %>
<link rel="stylesheet" href="/css/resume.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
<% include partials/home_navbar %>
<a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
<a class="btn btn-primary btn-outline-primary m-3" href="/otherFormats/resume">Recent Resumes</a>
<hr class="prettyline">

<div class="container text-center">
    <div class="row m-4">
        <div class="col-md-4 mb-4">
            <div class="dbAnchor" data-toggle="modal" data-target="#exampleModal">
                <a class="resume-form" href="#animatedModal">
                    <!-- <% if(user.resume.length > 0) { %>
            <a href="/otherFormats/resume">
          <% } else { %>
            <a class="resume-form" href="#animatedModal">
          <% } %> -->
                    <div class="card">
                        <img style="max-height: 14em;" class="card-img-top" src="/img/sick_leave.jpg" alt="Resume 1">
                        <div class="card-body">
                            <p class="card-text">Resume 1</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Resume</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a class="resume-form" href="#animatedModal">
                    <div class="card">
                        <img style="max-height: 14em;" class="card-img-top" src="/img/application_form.jpg"
                             alt="Resume 2">
                        <div class="card-body">
                            <p class="card-text">Resume 2</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="dbAnchor">
                <a class="resume-form" href="#animatedModal">
                    <div class="card">
                        <img style="max-height: 14em;" class="card-img-top" src="/img/general_leave.jpg" alt="Resume 3">
                        <div class="card-body">
                            <p class="card-text">Resume 3</p>
                        </div>
                    </div>
                    <div class="overLay">
                        <div class="text">Coming Soon!</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--Call your modal-->
    <a class="resume-form" href="#animatedModal">Enter Details for Resume</a>

    <div id="animatedModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
        <div class="close-animatedModal"><i class="fa fa-close"></i></div>
        <div class="modal-content container">
            <div class="container">
                <div class="container"><h2>Enter Details</h2></div>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-about-tab" data-toggle="pill" href="#pills-about"
                           role="tab" aria-controls="pills-about" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                           aria-controls="pills-contact" aria-selected="false">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-education-tab" data-toggle="pill" href="#pills-education"
                           role="tab" aria-controls="pills-education" aria-selected="false">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-project-tab" data-toggle="pill" href="#pills-project" role="tab"
                           aria-controls="pills-project" aria-selected="false">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-experience-tab" data-toggle="pill" href="#pills-experience"
                           role="tab" aria-controls="pills-experience" aria-selected="false">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-skills-tab" data-toggle="pill" href="#pills-skills" role="tab"
                           aria-controls="pills-skills" aria-selected="false">Skills</a>
                    </li>
                </ul>
                <form action="/otherFormats/resumeFormats" method="post">
                    <!-- About tab -->
                    <div class="tab-content m-5" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-about" role="tabpanel"
                             aria-labelledby="pills-about-tab">
                            <div class="form-row mb-3">
                                <!-- <label class="col-md-2 mt-2" for="fullname">FULLNAME: </label> -->
                                <div class="col-md-12">
                                    <div class="input-group form-row">
                                        <div class="input-group-prepend col-md-2">
                                            <span class="input-group-text w-100"
                                                  id="inputGroupPrepend2">Full Name</span>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="fullname" class="form-control" id="id_fullname"
                                                   placeholder="Enter fullname here"
                                                   aria-describedby="inputGroupPrepend2" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <!-- <label class="col-md-2 mt-2" for="designation">DESIGNATION: </label> -->
                                <div class="col-md-12">
                                    <div class="input-group form-row">
                                        <div class="input-group-prepend col-md-2">
                                            <span class="input-group-text w-100"
                                                  id="inputGroupPrepend2">Designation</span>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="designation" class="form-control"
                                                   id="id_designation" placeholder="e.g. Student"
                                                   aria-describedby="inputGroupPrepend2" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <!-- <label class="col-md-2 mt-2" for="aboutyou">ABOUT YOU: </label> -->
                                <div class="col-md-12">
                                    <div class="input-group form-row">
                                        <div class="input-group-prepend col-md-2">
                                            <span class="input-group-text w-100"
                                                  id="inputGroupPrepend2">About You</span>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="aboutyou" class="form-control" id="id_aboutyou"
                                                   placeholder="e.g. I am a web developer."
                                                   aria-describedby="inputGroupPrepend2" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <!-- <label class="col-md-2 mt-2" for="careeroverview">CAREER OVERVIEW: </label> -->
                                <div class="col-md-12">
                                    <div class="input-group form-row">
                                        <div class="input-group-prepend col-md-2">
                                            <span class="input-group-text w-100" id="inputGroupPrepend2">Carrier Overview</span>
                                        </div>
                                        <div class="col-md 10">
                                            <textarea class="form-control" name="careeroverview" id="id_careeroverview"
                                                      placeholder="Enter Your Career Objective or Overview"
                                                      aria-describedby="inputGroupPrepend2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <a class="btn btn-primary text-white btnNext">Next</a>
                            </div>
                        </div>
                        <!-- Contact tab -->
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <div class="form-row mb-3">
                                <!-- <label class="col-md-2 mt-2" for="email">EMAIL ID: </label> -->
                                <div class="col-md-12">
                                    <div class="input-group form-row">
                                        <div class="input-group-prepend col-md-2">
                                            <span class="input-group-text w-100" id="inputGroupPrepend2">Email Id</span>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control" name="email" id="id_email"
                                                   placeholder="Enter email Id" aria-describedby="inputGroupPrepend2"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <!-- <label class="col-md-2 mt-2" for="mobile">Mobile: </label> -->
                                <div class="col-md-12">
                                    <div class="input-group form-row">
                                        <div class="input-group-prepend col-md-2">
                                            <span class="input-group-text w-100" id="inputGroupPrepend2">Mobile</span>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="mobile" id="id_mobile"
                                                   placeholder="Enter mobile number"
                                                   aria-describedby="inputGroupPrepend2" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <!-- <label class="col-md-2 mt-2" for="linkedin">LINKEDIN ID: </label> -->
                                <div class="col-md-12">
                                    <div class="input-group form-row">
                                        <div class="input-group-prepend col-md-2">
                                            <span class="input-group-text w-100"
                                                  id="inputGroupPrepend2">Linkedin Id</span>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="linkedin" id="id_linkedin"
                                                   placeholder="Enter your linkedin id"
                                                   aria-describedby="inputGroupPrepend2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <!-- <label class="col-md-2 mt-2" for="address">ADDRESS: </label> -->
                                <div class="col-md-12">
                                    <div class="input-group form-row">
                                        <div class="input-group-prepend col-md-2">
                                            <span class="input-group-text w-100" id="inputGroupPrepend2">Address</span>
                                        </div>
                                        <div class="col-md-10">
                                            <textarea class="form-control" name="address" id="id_address"
                                                      placeholder="Enter your full address"
                                                      aria-describedby="inputGroupPrepend2" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <a class="btn btn-primary text-white btnPrevious mr-3">Previous</a>
                                <a class="btn btn-primary text-white btnNext">Next</a>
                            </div>
                        </div>
                        <!-- Education tab -->
                        <div class="tab-pane fade" id="pills-education" role="tabpanel"
                             aria-labelledby="pills-education-tab">
                            <div id="education_field"></div>
                            <div class="row mb-3">
                                <div class="col-md-8 text-left"></div>
                                <div class="col-md-2">
                                    <a class="btn btn-block btn-secondary mb-3" href="#" id="education_add">Add More</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-block btn-danger mb-3" href="#" id="education_remove">Remove</a>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <a class="btn btn-primary text-white btnPrevious mr-3">Previous</a>
                                <a class="btn btn-primary text-white btnNext">Next</a>
                            </div>
                        </div>
                        <!-- Project tab -->
                        <div class="tab-pane fade" id="pills-project" role="tabpanel"
                             aria-labelledby="pills-project-tab">
                            <div id="project_field"></div>
                            <div class="row mb-3">
                                <div class="col-md-8 text-left"></div>
                                <div class="col-md-2">
                                    <a class="btn btn-block btn-secondary mb-3" href="#" id="project_add">Add More</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-block btn-danger mb-3" href="#" id="project_remove">Remove</a>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <a class="btn btn-primary text-white btnPrevious mr-3">Previous</a>
                                <a class="btn btn-primary text-white btnNext">Next</a>
                            </div>
                        </div>
                        <!-- Experience tab -->
                        <div class="tab-pane fade" id="pills-experience" role="tabpanel"
                             aria-labelledby="pills-experience-tab">
                            <div id="experience_field"></div>
                            <div class="row mb-3">
                                <div class="col-md-8 text-left"></div>
                                <div class="col-md-2">
                                    <a class="btn btn-block btn-secondary mb-3" href="#" id="experience_add">Add
                                        More</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-block btn-danger mb-3" href="#" id="experience_remove">Remove</a>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <a class="btn btn-primary text-white btnPrevious mr-3">Previous</a>
                                <a class="btn btn-primary text-white btnNext">Next</a>
                            </div>
                        </div>
                        <!-- Skills tab -->
                        <div class="tab-pane fade" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab">
                            <div id="skill_field"></div>
                            <div class="row mb-3">
                                <div class="col-md-8 text-left"></div>
                                <div class="col-md-2">
                                    <a class="btn btn-block btn-secondary mb-3" href="#" id="skill_add">Add More</a>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-block btn-danger mb-3" href="#" id="skill_remove">Remove</a>
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <fiv class="float-left">
                                    <a class="btn btn-primary text-white btnPrevious mr-3">Previous</a>
                                </fiv>
                                <div class="float-right">
                                    <input class="btn btn-success" type="submit" value="Submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal ends -->


</div>
<hr class="prettyline">

<script>
    $('.btnNext').click(function () {
        $('.nav-pills .active').parent().next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function () {
        $('.nav-pills .active').parent().prev('li').find('a').trigger('click');
    });
</script>

<script>

    // Education field handled
    var count = 1;

    $('#education_field').append(educationNumber('first'));

    $('#education_add').click(function (e) {
        if (count == 0) {
            count++;
            var name = 'first';
            var firstfield = educationNumber(name);
            $('#education_field').append(firstfield);
        } else if (count == 1) {
            count++;
            var name = 'second';
            var secondfield = educationNumber(name);
            $('#education_field').append(secondfield);
        } else if (count == 2) {
            count++;
            var name = 'third';
            var thirdfield = educationNumber(name);
            $('#education_field').append(thirdfield);
        } else if (count == 3) {
            alert("Maximum 3 education field is required.");
        }
    });

    // Remove rows
    $('body').on('click', '#education_remove', function (e) {

        // if(count == 1){
        //     $('div').remove('#first_education');
        //     count--;
        // }else
        if (count == 2) {
            // $(this).parent('#company_two').remove();
            $('div').remove('#second_education');
            count--;
        } else if (count == 3) {
            // $(this).parent('#company_three').remove();
            $('div').remove('#third_education');
            count--;
        } else {
            alert("Minimum one education field is required.");
        }
    });

    function educationNumber(name) {
        return '<div id="' + name + '_education" ><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Degree/Course</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_degree[degree]" id="id_' + name + '_degree" placeholder="Degree name" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Institution</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_degree[institution]" id="id_' + name + '_institution" placeholder="Name of Institution" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Passing Year</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_degree[passingyear]" id="id_' + name + '_passingyear" placeholder="passing year" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Enter Details</span></div><div class="col-md-10"><textarea class="form-control" name="' + name + '_degree[details]" id="id_' + name + '_details" placeholder="e.g. completed with 66% marks" aria-describedby="inputGroupPrepend2" required></textarea></div></div></div></div><hr></div>';
    }

    // Project section handled
    var project_count = 1;

    $('#project_field').append(projectNumber('first'));

    $('#project_add').click(function (e) {
        if (project_count == 0) {
            project_count++;
            var name = 'first';
            var firstfield = projectNumber(name);
            $('#project_field').append(firstfield);
        } else if (project_count == 1) {
            project_count++;
            var name = 'second';
            var secondfield = projectNumber(name);
            $('#project_field').append(secondfield);
        } else if (project_count == 2) {
            alert("Maximum 2 Project field is required.");
        }
    });

    $('body').on('click', '#project_remove', function (e) {

        // if(project_count == 1){
        //     $('div').remove('#first_project');
        //     project_count--;
        // }else
        if (project_count == 2) {
            // $(this).parent('#company_two').remove();
            $('div').remove('#second_project');
            project_count--;
        } else {
            alert("Minimum one Project field is required.");
        }
    });

    function projectNumber(name) {
        return '<div id="' + name + '_project" ><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Title</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_project[title]" id="id_' + name + '_projecttitle" placeholder="Enter Project Title" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Organization</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_project[organization]" id="id_' + name + '_projectorganization" placeholder="Enter Project Organization or Self" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Enter Details</span></div><div class="col-md-10"><textarea class="form-control" name="' + name + '_project[details]" id="id_' + name + '_projectdetails" placeholder="DESCRIBE YOUR PROJECT" aria-describedby="inputGroupPrepend2" required></textarea></div></div></div></div><hr></div>';
    }

    // Experience section handled
    var experience_count = 0;

    $('#experience_add').click(function (e) {
        if (experience_count == 0) {
            experience_count++;
            var name = 'first';
            var firstfield = experienceNumber(name);
            $('#experience_field').append(firstfield);
        } else if (experience_count == 1) {
            experience_count++;
            var name = 'second';
            var secondfield = experienceNumber(name);
            $('#experience_field').append(secondfield);
        } else if (experience_count == 2) {
            alert("Maximum 2 Experience field is required.");
        }
    });

    $('body').on('click', '#experience_remove', function (e) {

        if (experience_count == 1) {
            $('div').remove('#first_experience');
            experience_count--;
        } else if (experience_count == 2) {
            // $(this).parent('#company_two').remove();
            $('div').remove('#second_experience');
            experience_count--;
        } else {
            alert("No field to remove.");
        }
    });

    function experienceNumber(name) {
        return '<div id="' + name + '_experience" ><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Title/Designation</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_experience[title]" id="id_' + name + '_exptitle" placeholder="Enter experience field title" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Organization</span></div><div class="col-md-10"><input type="text" class="form-control" name="' + name + '_experience[organization]" id="id_' + name + '_exporganization" placeholder="Enter Organization name" aria-describedby="inputGroupPrepend2" required></div></div></div></div><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Enter Details</span></div><div class="col-md-10"><textarea class="form-control" name="' + name + '_experience[details]" id="id_' + name + '_expdetails" placeholder="Describe your experience" aria-describedby="inputGroupPrepend2" required></textarea></div></div></div></div><hr></div>';
    }

    // Skill field handled
    var skill_count = 1;

    $('#skill_field').append(skillNumber('first'));

    $('#skill_add').click(function (e) {
        if (skill_count == 0) {
            skill_count++;
            var name = 'first';
            var firstfield = skillNumber(name);
            $('#skill_field').append(firstfield);
        } else if (skill_count == 1) {
            skill_count++;
            var name = 'second';
            var secondfield = skillNumber(name);
            $('#skill_field').append(secondfield);
        } else if (skill_count == 2) {
            skill_count++;
            var name = 'third';
            var thirdfield = skillNumber(name);
            $('#skill_field').append(thirdfield);
        } else if (skill_count == 3) {
            skill_count++;
            var name = 'fourth';
            var thirdfield = skillNumber(name);
            $('#skill_field').append(thirdfield);
        } else if (skill_count == 4) {
            skill_count++;
            var name = 'fifth';
            var thirdfield = skillNumber(name);
            $('#skill_field').append(thirdfield);
        } else if (skill_count == 5) {
            alert("Maximum 5 skill field is required.");
        }
    });

    // Remove rows
    $('body').on('click', '#skill_remove', function (e) {

        // if(skill_count == 1){
        //     $('div').remove('#first_skill');
        //     skill_count--;
        // }else
        if (skill_count == 2) {
            // $(this).parent('#company_two').remove();
            $('div').remove('#second_skill');
            skill_count--;
        } else if (skill_count == 3) {
            // $(this).parent('#company_three').remove();
            $('div').remove('#third_skill');
            skill_count--;
        } else if (skill_count == 4) {
            // $(this).parent('#company_three').remove();
            $('div').remove('#fourth_skill');
            skill_count--;
        } else if (skill_count == 5) {
            // $(this).parent('#company_three').remove();
            $('div').remove('#fifth_skill');
            skill_count--;
        } else {
            alert("Minimum one skill field is required.");
        }
    });

    function skillNumber(name) {
        return '<div id="' + name + '_skill" ><div class="form-row mb-3"><div class="col-md-12"><div class="input-group form-row"><div class="input-group-prepend col-md-2"><span class="input-group-text w-100" id="inputGroupPrepend2">Skill</span></div><div class="col-md-10"><input type="text" class="form-control" name="skill[]" id="id_' + name + '_skill" placeholder="Enter your skill" aria-describedby="inputGroupPrepend2" required></div></div></div></div><hr></div>';
    }
</script>
</body>
</html>
