<% include ../partials/home_header %>
<link rel="stylesheet" href="../../css/suggestions.css">
<link rel="stylesheet" href="../../css/homepage.css">

  <% include ../partials/home_navbar %>
<main role="main">
		<a class="btn btn-danger btn-outline-danger m-3" href = "javascript:history.back()">Back</a>
		<a class="btn btn-primary btn-outline-primary m-3" href = "/application/recentdoc">Recent Applications</a>
		<div class="h2 text-center mb-5">Application for School Leave.</div>
		
		<div class="container">
			
      <div class="container">
        <button onclick="topFunction()" id="goTop">Top</button>

        <!-- Uploading file for Bulk Generator -->
        <form ref='uploadForm' id='uploadForm' class="form-signin" action="/otherFormats/bulkVisitingCards" 
			method="POST"
			encType="multipart/form-data">
	        
			   <input type="file" name="uploaded_file">
			   <!-- <input type="text" name="fileName"> -->

		       <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Upload</button>
	    </form>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"><\/script>')</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
		<script src="/js/suggestions.js"></script>
    
  </body>
</html>