<% include ../partials/home_header %>
<link rel="stylesheet" href="../../css/suggestions.css">
<link rel="stylesheet" href="../../css/homepage.css">

<% include ../partials/home_navbar %>
<main role="main">
    <a class="btn btn-danger btn-outline-danger m-3" href="javascript:history.back()">Back</a>
    <a class="btn btn-primary btn-outline-primary m-3" href="/otherFormats">Other Formats</a>
    <div class="h2 text-center mb-5">Upload Excel file</div>

    <div class="container">

        <div class="container">

            <!-- Uploading file for Bulk Generator -->
            <form ref='uploadForm' id='uploadForm' class="form-signin" action="/otherFormats/bulkVisitingCards"
                  method="POST"
                  encType="multipart/form-data">

                <input type="file" name="uploaded_file">
                <!-- <input type="text" name="fileName"> -->

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Upload</button>
            </form>
        </div>
    </div>
 </main>

 <% include ../partials/footer_script %>
        
</body>
</html>
