<% include ../partials/home_header %>
<link rel="stylesheet" href="../../css/suggestions.css">
<link rel="stylesheet" href="../../css/homepage.css">

  <% include ../partials/home_navbar %>
<main role="main">
		<a class="btn btn-danger btn-outline-danger m-3" href = "javascript:history.back()">Back</a>
		<a class="btn btn-primary btn-outline-primary m-3" href = "/application/recentdoc">Recent Applications</a>
		<div class="h2 text-center mb-5">Application for School Leave.</div>
		
		<div class="container">
			
      <div class="container">
        <button onclick="topFunction()" id="goTop">Top</button>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"><\/script>')</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
		<script src="/js/suggestions.js"></script>

		<script>
			$(document).ready(function() {
				var data = JSON.parse($('#data').text());
				$('#data').remove();
				var i;
				for(i = 0; i < data.length; i++){
					// console.log(data[i]['schoolname']);
						data[i].schoolname = data[i]['school'];
						delete data[i].school;
				}
				let name = document.getElementById("name")
				let schoolname = document.getElementById("schoolname");
				let address = document.getElementById("address");
				let reason = document.getElementById("reason");
				let no_of_days = document.getElementById("no_of_days");
					
				let namehead = new Suggestions(name, data, {
					minLength: 1, // Number of characters typed into an input to trigger suggestions.
					limit: 3 //  Max number of results to display. 
				})
				
				namehead.getItemValue = function(item) {
					return item.name
				}

				let schoolnamehead = new Suggestions(schoolname, data, {
					minLength: 1, // Number of characters typed into an input to trigger suggestions.
					limit: 3 //  Max number of results to display. 
				})
				
				schoolnamehead.getItemValue = function(item) {
					return item.schoolname
				}

				let addresshead = new Suggestions(address, data, {
					minLength: 1, // Number of characters typed into an input to trigger suggestions.
					limit: 3 //  Max number of results to display. 
				})
				
				addresshead.getItemValue = function(item) {
					return item.address
				}

				let reasonhead = new Suggestions(reason, data, {
					minLength: 1, // Number of characters typed into an input to trigger suggestions.
					limit: 3 //  Max number of results to display. 
				})
				
				reasonhead.getItemValue = function(item) {
					return item.reason
				}

				let no_of_dayshead = new Suggestions(no_of_days, data, {
					minLength: 1, // Number of characters typed into an input to trigger suggestions.
					limit: 3 //  Max number of results to display. 
				})
				
				no_of_dayshead.getItemValue = function(item) {
					return item.no_of_days
				}
	
			})
		</script>

		<script>
			$( document ).ready(function() {
				$(".kki").each(function() { 
					if ($(this).val() != "") {
						$(this).parent().addClass("animation");
					}
				});
			});

			//Add animation when input is focused
			$(".kki").focus(function(){
				$(this).parent().addClass("animation animation-color");
			});

			//Remove animation(s) when input is no longer focused
			$(".kki").focusout(function(){
				if($(this).val() === "")
					$(this).parent().removeClass("animation");
				$(this).parent().removeClass("animation-color");
			})
		</script>

		<script>
			$(document).ready(function(){
				var name = $("#name");
				var schoolname = $("#schoolname");
				var address = $("#address");
				var date = $("#date");
				var reason = $("#reason");
				var no_of_days = $("#no_of_days");
				var namep = $("#namep");
				var schoolnamep = $("#schoolnamep");
				var addressp = $("#addressp");
				var reasonp = $("#reasonp");
				var no_of_daysp = $("#no_of_daysp");
				var datep = $("#datep");
				var monthName = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

				if(name.val() == ""){
					namep.html("____");
				}
				if(schoolname.val() == ""){
					schoolnamep.html("____");
				}
				if(address.val() == ""){
					addressp.html("____");
				}
				if(date.val() == ""){
					datep.html("____");
				}
				if(reason.val() == ""){
					reasonp.html("____");
				}
				if(no_of_days.val() == ""){
					no_of_daysp.html("____");
				}

				name.on('keyup mouseup focus mouseleave change onload', function(e) {
					var namehere = name.val();
					if(namehere.length == 0){
						namep.html("____");
					}else{
						namep.html(namehere);
					}
				})
				schoolname.on('keyup mouseup focus mouseleave change onload', function(e) {
					var schoolnamehere = schoolname.val();
					if(schoolnamehere.length == 0){
						schoolnamep.html("____");
					}else{
						schoolnamep.html(schoolnamehere);
					}
				});
				address.on('keyup mouseup focus mouseleave change onload', function(e) {
					var addresshere = address.val();
					if(addresshere.length == 0){
						addressp.html("____");
					}else{
						addressp.html(addresshere);
					}
				});
				date.on('keyup mouseup focus mouseleave mouseout change onload', function(e) {
					var datehere = date.val();
					
					if(datehere.length == 0){
						datep.html("____");
					}else{
						var datehere = new Date(date.val());
					  day = datehere.getDate();
					  month = datehere.getMonth();
					  year = datehere.getFullYear();
					  var finaldate = day + " - " + monthName[month] + " - " + year;
						datep.html(finaldate);
					}
				});

				reason.on('keyup mouseup focus mouseleave change onload', function(e) {
					var reasonhere = reason.val();
					if(reasonhere.length == 0){
						reasonp.html("____");
					}else{
						reasonp.html(reasonhere);
					}
				});


				no_of_days.on('keyup mouseup focus mouseleave change onload', function(e) {
					var no_of_days_here = no_of_days.val();
					if(no_of_days_here.length == 0){
						no_of_daysp.html("____");
					}else{
						no_of_daysp.html(no_of_days_here);
					}
				});
			});
		</script>


		<!-- Scroll Top Button Script -->
    <script>
    
    window.onscroll = function() {scrollFunction()};
    window.onload = function() {
      scrollFunction()
    };
    function scrollFunction() {
      if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
          document.getElementById("goTop").style.display = "block";
      } else {
          document.getElementById("goTop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
  </body>
</html>